/* Barcode Style */
.text-spacing{
    font-size: 1em;
    letter-spacing: 1.65em;
    color: #000;
}

.hidden{
    display: none;
}

.dropdown-item{
    cursor: pointer;
}


.select2-dropdown, .select2-dropdown--below{
    height: 200px;!important;
    overflow-y: scroll;!important;
}
